BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 132
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
BinPackArguments: true
BinPackParameters: false
IncludeBlocks: Preserve
SortIncludes: CaseInsensitive
