//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved.
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Wed 07 19 21:03:46 2023

IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=UP;

//IO_LOC "clk_50" 10;
//IO_PORT "clk_50" PULL_MODE=UP;

IO_LOC "s1" 88;
IO_PORT "s1" PULL_MODE=DOWN;

IO_LOC "adc_mosi" 52;
IO_PORT "adc_mosi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=16;
IO_LOC "adc_cs" 71;
IO_PORT "adc_cs" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=16;
IO_LOC "adc_clk" 72;
IO_PORT "adc_clk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=16;
IO_LOC "adc_miso" 53;
IO_PORT "adc_miso" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "cs_n" 15;
IO_PORT "cs_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "mode[1]" 86;
IO_PORT "mode[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "mode[0]" 27;
IO_PORT "mode[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "reset_n" 31;
IO_PORT "reset_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "int_n" 26;
IO_PORT "int_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;

IO_LOC "cd[7]" 49;
IO_PORT "cd[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "cd[6]" 55;
IO_PORT "cd[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "cd[5]" 48;
IO_PORT "cd[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "cd[4]" 51;
IO_PORT "cd[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "cd[3]" 54;
IO_PORT "cd[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "cd[2]" 56;
IO_PORT "cd[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "cd[1]" 41;
IO_PORT "cd[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "cd[0]" 42;
IO_PORT "cd[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;

IO_LOC "tmds_data_p[0]" 35,36;
IO_PORT "tmds_data_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=16;
IO_LOC "tmds_data_p[1]" 37,38;
IO_PORT "tmds_data_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=16;
IO_LOC "tmds_data_p[2]" 39,40;
IO_PORT "tmds_data_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=16;
IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=16;

IO_LOC "A7" 76;
IO_PORT "A7" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "A6" 80;
IO_PORT "A6" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "A5" 28;
IO_PORT "A5" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "A4" 30;
IO_PORT "A4" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "A3" 29;
IO_PORT "A3" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "A2" 73;
IO_PORT "A2" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "wr_n" 74;
IO_PORT "wr_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rd_n" 85;
IO_PORT "rd_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "iorq_n" 77;
IO_PORT "iorq_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// IO_LOC "led5_n" 20
// IO_PORT "led5_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
//
// IO_LOC "led4_n" 19
// IO_PORT "led4_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
//
// IO_LOC "led1_n" 16
// IO_PORT "led1_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;

//UNUSED
// IO_LOC "PIN16_SYS_LED1" 16
// IO_LOC "PIN17_SYS_LED2" 17
// IO_LOC "PIN18_SYS_LED3" 18
// IO_LOC "PIN19_SYS_LED4" 19
// IO_LOC "PIN20_SYS_LED5" 20
// IO_LOC "PIN25_LCD_HS" 25
// IO_LOC "PIN75_SPI_MOSI" 75 DO NOT USE for input?!
// IO_LOC "PIN75_HSPI_DIR" 75 DO NOT USE for input?!
// IO_LOC "PIN79_WS2812" 79


// TANG NANO 20K PIN OUTS
// IO_LOC "PIN73_HSPI_D2" 73;
// IO_LOC "PIN74_HSPI_D3" 74;
// IO_LOC "PIN75_SPI_MOSI" 75
// IO_LOC "PIN85_SDIO_D1" 85
// IO_LOC "PIN77_LCD_CK" 77
// IO_LOC "PIN15_SYS_LED0" 15
// IO_LOC "PIN16_SYS_LED1" 16
// IO_LOC "PIN27_LCD_B7" 27
// IO_LOC "PIN28_LCD_B6" 28
// IO_LOC "PIN25_LCD_HS" 25
// IO_LOC "PIN26_LCD_VS" 26
// IO_LOC "PIN29_LCD_B5" 29
// IO_LOC "PIN30_LCD_B4" 30
// IO_LOC "PIN31_LCD_B3" 31
// IO_LOC "PIN17_SYS_LED2" 17
// IO_LOC "PIN20_SYS_LED5" 20
// IO_LOC "PIN19_SYS_LED4" 19
// IO_LOC "PIN18_SYS_LED3" 18

// IO_LOC "PIN76_HSPI_DAT" 76
// "PIN80_SDIO_D2" 80
// "PIN42_LCD_R3" 42
// "PIN41_LCD_R4" 41
// "PIN56_I2S_BCLK" 56
// "PIN54_I2S_DIN" 54
// "PIN51_PA_~{SD}/EN" 51
// "PIN48_LCD_DE" 48
// "PIN55_I2S_LRCK" 55
// "PIN49_LCD_BL" 49
// "PIN86_HSPI_CSN" 86
// "PIN79_WS2812" 79
// "PIN72_HSPI_DIN1" 72
// "PIN71_HSPI_DIN0" 71
// "PIN53_EDID_CLK" 53
